<h1>add component</h1>

<form (ngSubmit)="addOperation()">
  <label for="amount">Amount</label>
  <input type="number" name="amount" id="amount" [(ngModel)]="operation.amount" />
  <label for="label">Label</label>
  <input type="text" name="label" id="label" [(ngModel)]="operation.label" />
  <!-- date créée sur le serveur -->
</form>
