<header>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a> </li>
      <li><a routerLink="/add-operation">Add Operation</a> </li>
    </ul>
</nav>
</header>
<router-outlet></router-outlet>
<footer><p>Simplon p18</p></footer>
