<ul>
    <li *ngFor="let item of list">
        {{item.date|date}} : {{item.label}} {{item.amount}}€

    </li>
</ul>


<button (click)="fetchOne()">Fetch one</button>

<div *ngIf="single">
    <h2>Selected operation</h2>
    {{single.date|date}} : {{single.label}} {{single.amount}}€
</div>
